
.App{
    height: 750px;
    margin: 3%;
}


.header{background-color: aquamarine;}

.mainWindow{
    background-color: blueviolet;
    height: 80%;
}

.employeeWindows{
    display: flex;
    flex-direction: row;
    margin: 2%;
    background-color: brown;
    height: 20%;
}

.employeeImage{
    height: 100%;
    width: 35%;
    background-color: burlywood;
}